<div class="container">
  <h1>Results table</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Points</th>
        <th>Users_Count</th>
      </tr>
    </thead>
    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.id %></td>
          <td><%= skill.name %></td>
          <td><%= skill.points %></td>
          <td><%= skill.users.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to "Create your own skill", new_skill_path, class: 'btn btn-success' %>
</div> <!-- /.container -->

